.loading-wrapper {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; }
    .loading-wrapper > img {
      margin-bottom: 1rem; }
    .loading-wrapper .loader {
      display: inline-block;
      border-color: #4a4a4a #4a4a4a transparent transparent;
      margin-right: 0.5rem; }
.masthead__menu-item a.is-active { text-decoration:underline }